<html>
<head>
<title>Want to do someThing?</title>
</head>
<body>
	<h1>to do someThing</h1>
	<p>
		to  <a href="/say/hello">Hello World</a>!
	
	<br>	
		
		to <%= link_to "hi", :action=>"hello" %> too
		
	</p>
</body>
</html>