<html>
<head>
<title>Hello, fish forward</title>
</head>
<body>
	<h1>it is me</h1>
	<p>
		i want to do <a href="/say/doSH">someThing</a>!
	</p>
	<p>
		are you <%= @time %><br>
		<%= @kaoa %>
	</p>
</body>
</html>